<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trevor Patch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <!-- Top Page Menu -->
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#certifcations">Certfications</a></li>
                <!-- <li class="nav-item"><a class="nav-link smooth-scroll" href="#badges">Badges</a></li> -->
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <!-- <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li> -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="black">
      <!-- Top Background Picture -->
      <div class="page-header-image" data-parallax="true" style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/757/595/small_2x/cyber-circuit-future-technology-concept-background-free-vector.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <!-- Top Page Profile Picture -->
          <div class="cc-profile-image"><a href="#"><img src="static/images/r2kuni.jpeg" alt="Image"/></a></div>
          <div class="h2 title">Trevor Patch</div>
          <p class="category text-white">Principal Architect</p>
          <!--  <<a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a> -->
          <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='Trevor-Patch-Resume.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download <br> Resume</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <!-- Top Page Social Links -->
          <div class="button-container">
            <!--  <a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/ayush.kalla/" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://twitter.com/KallaAyush" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>  -->
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/trevorpatch73" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/trevorpatchnetworks/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Engrossed with building needle moving solutions that transform the culture of an organization 
              to navigate the current digital world of cloud. Traditionally trained as a network engineer and 
              architect providing over 10+ years of unforgettable experiences to organizations with projects 
              in the Enterprise Campus, Data Center, Next Generation Firewalls, Load Balancers / Application Delivery Controllers, 
              and Multi-Cloud. Plagued by the overwhelming urge to champion everyone in the environment to tinker, 
              figure things out, and build solutions that fulfill the mission.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">trevorpatch73@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+1 703-232-3176</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Richmond, VA, U.S.A</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <!-- Projects Section -->
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <!-- Category Of Projects Buttons -->
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#applets-n-kits" role="tablist"><i class="fa fa-code" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cloud" role="tablist"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#infrastructure" role="tablist"><i class="fa fa-server" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Applet & Kit Projects -->
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="applets-n-kits">
        <!-- Projects -->
        <div class="ml-auto mr-auto">
          <div class="row">
            <!-- Column 1 -->
            <div class="col-md-6">
              <!-- Row 1 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/trevorpatch73/armada-of-the-damned">
                  <figure class="cc-effect"><img src="static/images/byob.jpeg" alt="Image"/>
                    <figcaption>
                      <div class="h4">IaC: Bring Your Own BotNet</div>
                      <p>50% Complete</p>
                    </figcaption>
                  </figure></a></div>
              <!-- Row 2 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/trevorpatch73/MyAviatrixLabKit">
                  <figure class="cc-effect"><img src="static/images/aviatrix_lab_kit.jpeg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Aviatrix Lab and Demo Kit</div>
                      <p>Continously Ongoing</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <!-- Column 2 -->
            <div class="col-md-6">
              <!-- Row 1 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#applets-n-kits">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
              <!-- Row 2 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#applets-n-kits">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cloud Projects -->
      <div class="tab-pane" id="cloud" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <!-- Projects -->
            <!-- Column 1 -->
            <div class="col-md-6">
              <!-- Row 1 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#cloud"">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
              <!-- Row 2 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#cloud"">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <!-- Column 2 -->
            <div class="col-md-6">
              <!-- Row 1 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#cloud"">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
              <!-- Row 2 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#cloud">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Infrastructure Projects -->
      <div class="tab-pane" id="infrastructure" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <!-- Projects -->
            <!-- Column 1 -->
            <div class="col-md-6">
              <!-- Row 1 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#infrastructure">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
              <!-- Row 2 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#infrastructure">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <!-- Column 2 -->
            <div class="col-md-6">
              <!-- Row 1 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#infrastructure">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
              <!-- Row 2 -->
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#infrastructure">
                  <figure class="cc-effect"><img src="https://img.freepik.com/free-vector/red-grunge-style-coming-soon-design_1017-26691.jpg?w=2000.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Coming Soon</div>
                      <p>Underway</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2022 - Present</p>
            <div class="h5">Presidio Federal</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Principal Architect (Classified)</div>
            <p>
              <ul>
                <li>Collaborate with the sales team, formulate, and execute a sales strategy to exceed revenue objectives through the adoption of Cloud, Cloud-Native Strategies, IaC GitOps and DevOps CI/CD pipelines.</li>  
                <li>Ensure success in building and migrating applications, software, and services on Cloud platforms.</li>
                <li>Mentor and champion customers of all sizes on the value proposition of Cloud/DevOps and participate in deep architectural discussions to ensure solutions are designed for successful deployment in the cloud.</li>
                <li>Conduct one-to-few and one-to-many training sessions with a DevOps mindset to transfer knowledge to customers considering or already operating in Cloud.</li>
                <li>Capture and share best-practice knowledge amongst the solutions architect community around Cloud, and digital transformations.</li>
                <li>Build deep relationships with senior technical individuals and key stakeholders within customer organizations to enable them to be advocates Cloud and DevOps.</li>
                <li>Act as a technical liaison between customers, service engineering teams, and support.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2021 - August 2022</p>
            <div class="h5">Presidio Federal</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Network Architect (Classified)</div>
            <p>
              <ul>
                <li>Understand Customer Current State. Proactivity drive discovery and understanding of customer IT current state, goals, outcomes, and initiatives across Business, Technical, Operational, and Financial facets. Research industry trends and topics and develop discovery approaches. Develop and lead workshops to drive relevant discovery. Document customer current state to assist customer and sales teams target future state architectures and roadmaps.</li>  
                <li>Technical Opportunity Leadership. Identify customer stakeholders and their individual success criteria and needs. Create and lead technical solution approaches and next steps aligned to customer stakeholders. Align, vet and coordinate Presidio and vendor partner technical resources as needed. Engage Manager/VP/Director level at clients directly.</li>
                <li>Solution Architecture, Design and Documentation. Analyze and assess client requirements and determine target architecture and design solutions (HW, SW, Licensing, Cloud services, Managed Services, Delivery Services, etc.) and roadmaps. Create and deliver compelling technical proposals directly to clients, including relevant drawings, diagrams, and analysis.</li>
                <li>Technical Excellence & Evangelism. Maintain a high level of technical excellence and evangelism across multiple relevant solution architecture and product areas. Lead the curation and delivery of relevant technical knowledge, presentations, and conversations at all client levels and customer related events. Actively participate in technical champion programs and communities. Attain certifications when appropriate. Learn, discuss, and present new and emerging technical and IT related topics.</li>
                <li>Account Leadership. Actively participate in client account related activities that establish the Solution Architect as a trusted advisor internally and with customers, such as: Account planning, EBCs, social events, etc.</li>
                <li>Team Engagement and Enable Culture. Engage Presidio team members, actively participate in team activities, and contribute on collaboration tools to drive an open, positive, inclusive, resilient, change-orientated team culture.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2020 - August 2021</p>
            <div class="h5">IBM GTS (Kyndryl)</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Network and Security Support Specialist</div>
            <p>
              <ul>
                <li>Designed, developed, and implemented zero touch automation for 27.5M USD labor cost savings per quarter leveraging a complex home-grown ecosystem.</li>  
                <li>Developed and implemented custom frontend self-service portals leveraging JavaScript, node.js, react, and flask on RHEL servers.</li>
                <li>Developed and implemented custom middleware / microservices for integration interactions between frontend portals, tools, job engines, and backend to enable various automations.</li>
                <li>Developed and implemented 100+ PERL, Python, Infoblox CCS, YAML, etc. scripts on various job engines (Infoblox NetMRI, Ansible, etc.) to automate through APIs and CLI provisioning, code upgrades, proactive troubleshooting/scanning, and other workflow related items.</li>
                <li>Designed, developed, and implemented standard operating procedures for data center infrastructure provisioning for network services.</li>
                <li>Designed, developed, and implemented standard operating procedures for network security services for firewall and web content filtering.</li>
                <li>Lead, designed, and migrated two large brownfield data centers from a traditional 3-layer Cisco Nexus 9k/7k/6k/5k/4k/3k/2k environment a segmented multi-pod Cisco ACI spine leaf-network with an optimized hardware proxy control plane.</li>
                <li>Lead, designed, and migrated a large brownfield data center from a traditional 3-layer Cisco Nexus 9k/7k/6k/5k/4k/3k/2k environment to a segmented hybrid multi-cloud, and a Cisco Nexus DCNM eVPN Leaf-Spine environment.</li>
                <li>Lead the migrations of 1000+ B2B IPSEC tunnels and rules from Checkpoint to Palo Alto for Anthem and managed subsidiaries.</li>
                <li>Lead the migrations of 200+ firewalls from Checkpoint to Palo Alto for Anthem and managed subsidiaries.</li>
                <li>Lead the migration of web content filtering functions from Bluecoat and Websense to Palo Alto for Anthem and managed subsidiaries.</li>
                <li>Established and managed Trello Kanban Agile frameworks for continuous improvement of various automation workflows, projects, and home-grown products.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2015</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B.A. in Information Systems & Operations Management</div>
            <p class="category">George Mason University</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2005 - 2009</p>
            <div class="h5">High School Diploma</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">High School Diploma</div>
            <p class="category">Forest Park High School</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section" id="#certifcations">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="h4 text-center mb-4 title">Certifcations</div>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary" role="tablist">
                <!-- Category Of Certifications Buttons -->
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#cloud-certifications" role="tablist"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Applet & Kit Projects -->
        <div class="tab-content gallery mt-5">
          <div class="tab-pane active" id="cloud-certifications">
            <!-- Projects -->
            <div class="ml-auto mr-auto">
              <div class="row">
                <!-- Column 1 -->
                <div class="col-md-6">
                  <!-- Row 1 -->
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.credly.com/badges/09b0ca27-7181-4b5f-a8e5-e55d10df298c/public_url">
                      <figure class="cc-effect"><img src="static/images/aceAssociatetBadgeArtboard_1.png" alt="Image"/>
                        <figcaption>
                          <div class="h4">Aviatrix Certified Engineer - Multi-Cloud Network Associate</div>
                          <p>July 2020</p>
                        </figcaption>
                      </figure></a></div>
                  <!-- Row 2 -->
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.credly.com/badges/f06350da-b6c5-4a5b-b1bc-528f12811c0a?source=linked_in_profile">
                      <figure class="cc-effect"><img src="static/images/aceProfessional_Badge.png" alt="Image"/>
                        <figcaption>
                          <div class="h4">Aviatrix Certified Engineer - Multi-Cloud Network Professional</div>
                          <p>January 2022</p>
                        </figcaption>
                      </figure></a></div>
                </div>
                <!-- Column 2 -->
                <div class="col-md-6">
                  <!-- Row 1 -->
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.credly.com/badges/f2a74415-de14-437a-9343-3f9b18ab6696?source=linked_in_profile">
                      <figure class="cc-effect"><img src="static/images/aceOperations_Badge.png" alt="Image"/>
                        <figcaption>
                          <div class="h4">Aviatrix Certified Engineer - Multi-Cloud Network Operations</div>
                          <p>December 2021</p>
                        </figcaption>
                      </figure></a></div>
                  <!-- Row 2 -->
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.credly.com/badges/cddb6137-013e-407f-9560-bd9f71e22731?source=linked_in_profile">
                      <figure class="cc-effect"><img src="static/images/Aviatrix_ACE_IAC_Flat_Badge.png" alt="Image"/>
                        <figcaption>
                          <div class="h4">Aviatrix Certified Engineer - Multi-Cloud Network Infrastructure as Code</div>
                          <p>January 2022</p>
                        </figcaption>
                      </figure></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Public Cloud Skills</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Private Cloud Skills</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">65%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">DevOps</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Application Development</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div><span class="progress-value">35%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Declarative Automation</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <div class="progress-container progress-primary"><span class="progress-badge">Imperative Languages</span>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div><span class="progress-value">55%</span>
            </div>
          </div>
        </div>
        </div>      
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Containerization</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div><span class="progress-value">45%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Network Design</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Network Switching</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div> 
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Network Routing</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Firewall</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Load Balancer</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/map.JPG')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail/" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                    
                            <button class="btn btn-primary" type="submit">Send</button>
                        
                         
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Location </strong></p>
                    <p class="pb-2">Richmond, Virginia, United States</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+1 703-232-3176</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>trevorpatch73@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div> -->
    </div>
    <footer class="footer">
      <div class="container text-center">
        <!-- <a class="cc-facebook btn btn-link" target="_blank" href="https://www.facebook.com/ayush.kalla/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
        <a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/KallaAyush"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a> -->
        <a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/trevorpatch73"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/trevorpatchnetworks/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
      </div>
      <div class="h4 title text-center">Trevor Patch</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>